.jumbotron {
    text-align: center;
    color: red;
}

#title {
    font-size: 25px;
}

.navbar {
    background-color: darkgreen;
    color: white;
}

.nav-link {
    color: white !important;
    margin-left: 25px;
    padding-left: 25px !important;
    border-left: 2px white dotted;
}

.nav-link:hover {
    color: grey !important;
}

#mainButton {
    background-color: navy;
    border: none;
}

#mainButton:hover {
    background-color: navy
}